.blink {
  animation: blinker 1s linear infinite;
  font-family: 'Delicious Handrawn', cursive;
}


.head {
 
  font-family: 'Delicious Handrawn', cursive;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}