/*
.row {
  height: 100%;
  background-image: url("../../Photos/background.jpg");
  background-size: cover;
}*/

h3 {
  font-family: 'Delicious Handrawn', cursive;
}

.form{
  font-family: 'Delicious Handrawn', cursive;
}

.Login {
  animation: blinker 1s linear infinite;
  font-family: 'Delicious Handrawn', cursive;
}